@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto+Slab:400,700);

h2 {
  font: 400 16px/22px 'Roboto Slab';
  padding: 5px 15px;
  margin: 0 5px 0 0;
  text-align: center;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: rgb(242, 242, 242);
  color: rgb(64, 64, 64);
}

h2.active {
  font-weight: 600;
  background: white;
}

.tab-wrapper {
  display: flex;
  display: -webkit-flex;
  height: 30px;
  padding: 0 10px;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
}
.contents {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  background: white;
  border-radius: 3px;
  padding: 20px;
  height: 250px;
  overflow: auto;
}
aside {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #bbb;
}
